<VirtualHost *:80>

    ServerName {{ app_root_domain }}
    ServerAlias *.{{ app_root_domain }}
    ServerAdmin {{ server_admin_email }}
    DocumentRoot {{ document_root }}

    <Directory {{ document_root }}>

        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        #Order allow,deny
        allow from all
        Require all granted

    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
